node_modules/
package-lock.json
.env
dist/
client/dist/
.vscode/
.idea/
# Chặn file repomix ở BẤT KỲ thư mục nào
repomix-output.*
**/server.xml
**/client.xml
**/shared.xml

# Chặn file hệ thống Mac ở mọi nơi
.DS_Store